/* *****************************************************************
	reset
****************************************************************** */
.h1, .h2, .h3, .h4 {font-family: $font-custom-bold;}
a:hover {
  	text-decoration: none;
    @include skin-color($theme-color-secondary);
}
a {color: $link-color}
a:focus {outline: none; text-decoration: none;}
textarea {
  	resize: none;
}
ul, li {list-style:none; }
img {max-width: 100%;}

body {
    font-family: $font-family;
    height: 100%;
    line-height: 18px;
    font-size: $font-size-base;
    color: $base-body-color;
    background-color: $gray-lighter;
    &.content_only {
      background: none;
    }
}
/* ******************************************************************
	Bootstrap
******************************************************************* */
.form-horizontal .control-label, .form-horizontal .radio, 
.form-horizontal .checkbox, .form-horizontal .radio-inline, 
.form-horizontal .checkbox-inline{
	padding-top: 4px;
}